<div class="container">
    <h1 class="my-4">Nombre
        <small>{{product.name}}</small>
    </h1>
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="{{product.photo}}" class="big">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Descripcion</h3>
            <p>
                {{product.description}}
            </p>
            <h3 class="my-3">Peso</h3>
            <ul>
                <li>{{product.weigth}}</li>
            </ul>
            <h3 class="my-3">Precio</h3>
            <ul>
                <li>{{product.price}}</li>
                <li></li>
            </ul>
        </div>

    </div>
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a>
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a>
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <button type="button" class="btn btn-primary" (click)="getBack()">Atras</button>
        </div>
    </div>
</div>