<div class="container">
    <form class="well form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label">Nombre</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input name="Name" [(ngModel)]="category.name" placeholder="Nombre" class="form-control" required="true" value="" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Categoria Padre</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <select class="selectpicker form-control" name="category" [(ngModel)]="category.father">
                            <option [ngValue]="{}"> </option>
                            <option [ngValue]="category" *ngFor="let category of categories">{{category.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Foto</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input placeholder="Foto" class="form-control" required="true" name="photo" [(ngModel)]="category.photo" type="text">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="row m-3">
    <div class="col-6">
        <button type="button" (click)="save()" class="btn btn-primary btn-block">Guardar</button>
    </div>
    <div class="col-6">
        <button type="button" routerLink="/admin/menu" class="btn btn-primary btn-block">Atras</button>
    </div>
</div>