<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="text" id="userName" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Usuario" autofocus required>
                            <label for="userName">Usuario</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Contraseña" required>
                            <label for="inputPassword">Contraseña</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="login()">Sign in</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>