<div class="row">
    <div class="card-body text-primary">
        <div *ngIf="categories?.length === 0 && load">
            No hay registros no hay registros para esta categoria <a (click)="getBack()">Atras!!</a>
        </div>
        <table class="table table-bordered table-striped" *ngIf="categories?.length>0">
            <thead>
                <tr>
                    <th width="25%">foto</th>
                    <th width="25%">nombre</th>
                    <th width="25%">padre</th>
                    <th width="25%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td width="25%">
                        <img src="{{category.photo}}" class="card-img-top medium">
                    </td>
                    <td width="25%">
                        <h5 class="card-title">
                            {{category.name}}
                        </h5>
                    </td>
                    <td width="25%">
                        <h5 class="card-title" *ngIf="category.father">
                            {{category.father.name}}
                        </h5>
                        <h5 class="card-title" *ngIf="!category.father">
                            no tiene
                        </h5>
                    </td>
                    <td width="25%">
                        <a class="btn btn-primary" (click)="getDetalle(category)">Detalle</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-6">
                <app-paginator [father]="act" [typeService]="'CA'" (outCategory)="showInfo($event)"></app-paginator>
            </div>
            <div>
                <button *ngIf="categories?.length > 0 && ant !== 0" type="button" class="btn btn-primary" (click)="getBack()">Atras</button>
            </div>
        </div>
    </div>
</div>