<ul class="list-group">
    <li class="list-group-item">
        <button type="button" routerLink="/admin/addProduct" class="btn btn-primary btn-block">Agregar Producto</button>
    </li>
    <li class="list-group-item">
        <button type="button" routerLink="/admin/addCategory" class="btn btn-primary btn-block">Agregar Categoria</button>
    </li>
</ul>