<footer class="footer page-footer font-small bg-dark">
    <div class="footer-copyright text-center py-3">
        <p class="text-white my-2">
            &copy; Andres Vidal
        </p>
    </div>
</footer>