<div class="container">
    <form class="well form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label">Nombre</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input name="name" [(ngModel)]="product.name" placeholder="Nombre" class="form-control" required="true" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Descripcion</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input name="descripcion" [(ngModel)]="product.description" placeholder="Descripcion" class="form-control" required="true" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Precio</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input name="price" [(ngModel)]="product.price" placeholder="Precio" class="form-control" required="true" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Peso</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input name="weigth" [(ngModel)]="product.weigth" placeholder="Peso" class="form-control" required="true" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Categoria</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <select class="selectpicker form-control" name="category" [(ngModel)]="product.category">
                            <option [ngValue]="{}"> </option>
                            <option [ngValue]="category" *ngFor="let category of categories">{{category.father.name}}: {{category.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Foto</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input placeholder="Foto" name="photo" [(ngModel)]="product.photo" class="form-control" required="true" type="text">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="row m-3">
    <div class="col-6">
        <button type="button" (click)="save()" class="btn btn-primary btn-block">Guardar</button>
    </div>
    <div class="col-6">
        <button type="button" routerLink="/admin/menu" class="btn btn-primary btn-block">Atras</button>
    </div>
</div>