<div class="row">
    <div class="card-body text-primary">
        <div *ngIf="products?.length === 0 && load">
            No hay registros no hay registros para esta categoria <a (click)="getBack()">Atras!!</a>
        </div>
        <table class="table table-bordered table-striped" *ngIf="products?.length>0">
            <thead>
                <tr>
                    <th width="25%">foto</th>
                    <th width="25%">nombre</th>
                    <th width="25%">Categoria</th>
                    <th width="25%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td width="25%">
                        <img src="{{product.photo}}" class="card-img-top medium">
                    </td>
                    <td width="25%">
                        <h5 class="card-title">
                            {{product.name}}
                        </h5>
                    </td>
                    <td width="25%">
                        <h5 class="card-title" *ngIf="product.category">
                            {{product.category.name}}
                        </h5>
                        <h5 class="card-title" *ngIf="!product.category">
                            no tiene
                        </h5>
                    </td>
                    <td width="25%">
                        <a class="btn btn-primary" (click)="getDetalle(product)">Detalle</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-6">
                <app-paginator [father]="act" [typeService]="'PR'" (outProduct)="showInfo($event)"></app-paginator>
            </div>
            <div>
                <button *ngIf="products?.length > 0" type="button" class="btn btn-primary" (click)="getBack()">Atras</button>
            </div>
        </div>
    </div>
</div>