<ul *ngIf="pages.length > 0" class="pagination">
    <li class="page-item" *ngIf="page > 0">
        <a class="page-link" (click)="goToPage(page)">&laquo;</a>
    </li>
    <li *ngFor="let item of pages" class="page-item" [ngClass]="page === item -1 ?  'active' : ''">
        <a class="page-link" (click)="goToPage(item)">{{item}}</a>
    </li>
    <li class="page-item" *ngIf="page < pages.length - 1">
        <a class="page-link" (click)="goToPage(page + 2)">&raquo;</a>
    </li>
</ul>